.form{
    color: white;
    font-family: "URW Gothic";
    font-weight: bold;
}

.body{
    background-image: url("Images/1-1.jpg");
    background-size: cover;
    background-attachment: fixed;

}


#image{
    height: 120%;
    width: 120%;
}