.form{
    color: black;
    font-family: "URW Gothic";
    font-weight: bold;
}

.overlay{
    background-color: white;
    opacity:90%;
    padding: 30px 30px 30px 30px;
    border-radius: 10px;
    margin-top: 40px;


}

#button{
    background-color: #135db1;
}

#text{
    color: white;
    font-family: "DejaVu Sans";
}